// Bingo card stylesheet inspired by One More Thing

$background-color: #ffffff;
$main-color: #b3a295;
$border-color: #84766b;
$border: 3px solid $border-color;
$primary-color: #c47348;
$header-color: #ede4cc;

html {
  font-size: 16px;
  max-width: 60rem;
  margin: auto;
}

body {
  box-sizing: border-box;
  background: $background-color;
  color: $primary-color;
  //font-family: "TF2 Build", "Helvetica Neue", Helvetica, sans-serif;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  user-select: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

main {
  width: 40rem;
  margin: 33px auto;
  border: $border;
  border-radius: 15px;
  background: $main-color;
}

h1 {
  padding-top: 1rem;
  color: $header-color;
  font-size: 2rem;
  text-align: center;

  span {
    display: inline-block;
    width: 5.7rem;
    height: 5.7rem;
    font-size: 2.7em;
    // font-size note 1:
    //   Because words like “extinguishes” are just too damn long.
    // font-size note 2:
    //   “Schadenfreude”, “Environmental” and “Unexplainable” are even longer.
  }
}

.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  height: 100%;
  margin: 0 auto;
}

label {
  display: block;
  width: 7.7rem;
  height: 7.7rem;
  border: $border;
  border-radius: 15px;
  background: $primary-color;

  input {
    display: none;

    &:checked+.mark {
      background: transparent;
      color: $background-color;
    }
  }

  .mark {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 96%;
    height: 96%;
    border-radius: 12px;
    background: $background-color;
    font-size: .9rem;
    text-align: center;
    margin: 2%;
  }
}

.addthis_inline_share_toolbox_44sq {
  text-align: center;
  margin-bottom: 1rem;
}

.navbar {
  background-color: $background-color;
  border-color: $background-color;
  max-width: 100%;
  min-width: 40rem;
  margin: 0.5rem auto 2rem auto;
}

.navbar-nav {
  flex-direction: row;
}

.navbar-default .navbar-nav li a {
  color: #000000;
}

.comment__section {
  margin: 2rem;
}

.count {
  display: block;
  width: 100%;
  margin: 2rem auto;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;

  span {
    font-size: 1.1rem;
    color: $header-color;
  }
}

.result__panel {
  display: flex;
  width: 90%;
  margin: auto;
  margin-bottom: 1rem;

  div {
    margin: auto;

    span {
      font-size: 1.3rem;
      font-weight: bold;
      color: $background-color;
    }

    span:nth-child(2) {
      font-size: 1.2rem;
      color: $header-color;
    }
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 10px;
    min-width: 25rem;
  }

  .navbar-brand {
    font-size: 2rem;
  }
}
